<Layout title="Welcome to Ardi">
    <h1 class="mb-10">Welcome to Ardi</h1>
    <p class="mb-10 text-lg">The ultimate space for people to find bla bla.</p>

    <section class="mb-10">
        <h2>Contact Us</h2>
        <p>Email: <a href="mailto:support@ardi.ae" class="text-blue-600 underline">support@ardi.ae</a></p>
    </section>
</Layout>
